html, body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background-image: url(./assets/Title_Image.jpg);
  background-size: 100vw 95vh;
  background-repeat: no-repeat;
}

dialog { 
  text-align: center; 
}

canvas.fullscreen { 
  width: 100vw; 
  height: 95vh; 
}

div#vui {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 5vh;
  width: 100vw;
  bottom: 0;
  color: white;
  background-color: black;
  padding-left: 20px;
}

div#score input {
  display: block;
  background-color: black;
  color: white;
  border: 2px solid #ffff00;
  border-radius: 5px;
  outline: none !important;
  padding: 5px;
  text-align: center;
}

div#score {
  display: flex;
  align-items: center;
}

div#volume {
  display: flex;
  align-items: unset; 
}

#score input,
#volume input {
  margin-left: 10px;
  margin-right: 25px;
}